{% extends "frame.djt.html" %}


{% block head %}
        <link rel="stylesheet" type="text/css" href="{{ assets }}/front.css"/>
        <title>{{ page.title }}</title>
{% endblock %}

{% block left %}
  <div>
        <div id="front-left-events">
            <h2>News &amp; Events</h2>
            <ul>
              {% for page in pages %}
                <li>
                    <h3>
                        <a href="/site/{{ page.id }}">
                            <img src="{{ page.thumbnail }}"  width="96" height="70"/>
                        <span>{{ page.short_title }}</span>
                        </a>
                    </h3>
                      <span>{{ page.short_text }}</span>
                </li>
              {% endfor %}
            </ul>
            <div id="new-event">
              <a href="{{ server.page_create }}">new news/event ...</a>
            </div>
        </div>      
  </div>
{% endblock %}
  
  
{% block superleft %}
         <div id="front-left-nav" >
            The Collection
            <h2>The Collection</h2>
            <ul>
              <li><a href="/country/">Find by location</a></li>
              <li><a href="/scene/">Find by scene</a></li>
              <li><a href="http://shahnama.caret.cam.ac.uk/new/jnama/bibliography">Bibliography</a></li>
              <!--
              <li><a href="#">Find a Library/Museum</a></li>
              <li><a href="#">Find a Scene</a></li>
              <li><a href="#">Search</a></li>
              <li><a href="#">Use your workbooks</a></li>
              -->
            </ul>
          </div>
{% endblock %}


{% block main %}  
  
  <div>

	<div id="frame-main">
	<div id="frame-content-article">
	    {{ page.text|safe}}
    </div>
    </div>

  </div>
  
{% endblock %}