<!DOCTYPE html>
<html lang="en" >
  <head>
		<!-- XXX move to custom mini-frame -->
    <script type="text/javascript" src="http://shahnama.caret.cam.ac.uk/new/assets/jquery/jquery-1.4.4.min.js"></script>
    <link type="text/css" href="{{ assets }}jquery-ui/css/custom-theme/jquery-ui-1.8.7.custom.css" href="jquery-ui/css/custom-theme/jquery-ui-1.8.7.custom.css" rel="Stylesheet" />	
    <script type="text/javascript" src="{{ assets }}jquery-ui/js/jquery-ui-1.8.7.custom.min.js"></script>

  	<link rel="stylesheet" type="text/css" href="{{ assets }}Jcrop/css/jquery.Jcrop.css"/>
  	<script type="text/javascript" src="{{ assets }}Jcrop/js/jquery.Jcrop.js"></script>

  </head>
	<body>
	  {% if not none %}
	  <div>
    	  <img id="m" src="{{ img }}" style="display: none;" />
    	  <a id="trim" href="{{ trim }}" style="display: none;"></a>
    	  <script>
    	  	$(function() {
    	  		url = $('#trim').attr('href');
    	  		$.get(url,{},function(data) {
    	  			if(data.x1)
    	  				var start = [data.x1,data.y1,data.x2,data.y2];
    	  			else
    	  				var start = undefined;
    	  			var $h = $('html',document);
    					$('#m').css('display','block');
    					$('#m').Jcrop({
    						setSelect: start,
    						boxWidth: 320,
    						boxHeight: 480,
    						onSelect: function(c) {
    							$h.data('x1',c.x);
    							$h.data('y1',c.y);
    							$h.data('x2',c.x2);
    							$h.data('y2',c.y2);
    						}
    					});
    	  		},'json');
    	  	});
    	  	function save() {
    	  		var $h = $('html',document);
    	  		var url = $('#trim').attr('href');
    				$.post(url,{
    						'x1': $h.data('x1') || 0,
    						'y1': $h.data('y1') || 0,
    						'x2': $h.data('x2') || $('#m').width(),
    						'y2': $h.data('y2') || $('#m').height()
    					});
    	  	}
    	  </script>
        </div>
        {% endif %}
	</body>
</html>