{% extends "frame.djt.html" %}


{% block head %}
      <link rel="stylesheet" type="text/css" href="{{ assets }}manuscript.css"/>    
        
    <!-- slideshow -->
    <script type="text/javascript" src="{{ assets }}jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="{{ assets }}jquery.timers-1.2.js"></script>
    <script type="text/javascript" src="{{ assets }}jquery.galleryview-2.1.1.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ assets }}galleryview.css"/>
  
    <script type="text/javascript" src="{{ assets }}buttons.js"></script>    
    <script type="text/javascript" src="{{ assets }}aq-tip.js"></script>    
    <script type="text/javascript" src="{{ assets }}slideshow.js"></script>    
    <script type="text/javascript" src="{{ assets }}list.js"></script>    
    <script type="text/javascript" src="{{ assets }}notes.js"></script>    
  
{% endblock %}


{% block main %}  
  
  <div>

	<div id="frame-main">
	<div id="frame-article">
	<div id="frame-main-top">

		<div id="views">
			<input type="radio" id="grid-select" name="radio" />
			<label for="grid-select">
				<span class="icon-grid"></span>
				Grid
			</label>
			<input type="radio" id="list-select" name="radio"  />
			<label for="list-select">
			    <span class="icon-list"></span>
			    List
			</label>
			<input type="radio" id="slides-select" name="radio" checked="checked" />
			<label for="slides-select">
				<span class="icon-slides"></span>
				Slides
			</label>
		</div>
	</div>

	  <div id="frame-main-left">
	    <div id="grid">
	      <div id="grid-inner">
	        <ul>
	        	{% include "msgrid.djt.html" %}
	        </ul>
	      </div>
	    </div>
	    <div id="list">
	      <div id="list-inner">
                {% include "mslist.djt.html" %}
	      </div>
	    </div>
	    <!-- SLIDESHOW -->
	    <div id="slideshow">
	      <ul class="galleryview unloaded" id="photos">
                {% include "msgallery.djt.html" %}
	      </ul>
	    </div>
	  </div>
	  <div id="frame-main-right">
	    <div id="manuscript-jumper">
            mss:
            {% if prev_url %} 
            <span title=".ui-icon-seek-next" class="grey-box ui-corner-all inline-block">
              <a class="icon-prev" href="{{ prev_url }}" href="#"/>
            </span>
            {% endif %} 
            {% if next_url %} 
            <span title=".ui-icon-seek-next" class="grey-box ui-corner-all inline-block">
              <a class="icon-next" href="{{ next_url }}" href="#"/>
            </span>
            {% endif %} 
	    </div>
	    <div id="manuscript-block"><b>{{ AccessionNumber }}{# Ryl Pers 910 #}</b>,
			    <a href="{{ location_url }}" href="#">{{ location_text }}{# Manchester, John Rylands University Library of Manchester #}</a>,
			    <a href="{{ country_url }}" >{{ location_text }}{# UK #}</a>.
	    </div>
	    <div id="manuscript-details">
	      <div class="manuscript-details-list">
	        <dl id="manuscript-details-body-main">
	          <dt>Date</dt>
	          <dd>{{ date }}{# 26 May 1518 (6 Jumada I 924) #}</dd>
              {% if origin %}
	          <dt>Origin</dt>
	          <dd>{{ origin }}{# Tabriz #}</dd>
	          {% endif %}
	          <dt>Size (h x w)</dt>
	          <dd>{{ size }}{# page 311 x 228 mm, text 228 x 152 mm #}</dd>
	          <dt>Text</dt>
	          <dd>{{ text }}{# 6 columns, 20 rows, Poor Nasta'liq #}</dd>
              {% if state %}
	          <dt>Type and State</dt>
	          <dd>{{ state }}{#Codex, complete, 564 extant folios, 3 illuminations, 101 illustrations of The Shahnama #}</dd>
              {% endif %}
              {% if pages %}
	          <dt>Pages</dt>
	          <dd>{{ pages }}{# Colophon on 562r, Sample Page on 319r #}</dd>
              {% endif %}
              {% if Ownership %}
	          <dt>Ownership</dt>
	          <dd>{{ Ownership }}{# British Library #}</dd>
              {% endif %}
	        </dl>
	        <div id="manuscript-details-body-notes">{{ notes }}{#
	          <p>
	                  Eighteenth-century Indian binding of claret-coloured leather with white medallions, pendants, corner pieces and border panels inlaid and embossed. Doublures with medallions and pendants painted in silver. Modern slip-case of scarlet morocco.
			  </p>
			  #}
	        </div>
	        <div id="manuscript-details-references">
              {% if references %}
	          <h3 class="notes">References</h3>
	          <div class="manuscript-details-list">
	            <dl id="manuscript-details-body-meta">
                  {% for ref in references %}
                    {% if ref.key %}
	                <dt>{{ ref.key }}{# General #}</dt>
	                <dd>{{ ref.value }}{# Norgren, J. &amp; Davis, E. Preliminary index of Shah-nameh illustrations. University of Michigan. Ann Arbor. USA #}</dd>
	                {% endif %}
				  {% endfor %}
	            </dl>
	          </div>
              {% endif %}
	          <div class="manuscript-details-list">
	            <dl id="manuscript-details-body-meta">
	              <dt>This Record</dt>
	              <dd>
					{{ status }}{# Ready #} Last update by {{ DatabaseUser }}{# admin #} on {{ up_date }}{# 24-12-2011 #}
	              </dd>
	              <dt>Copyright</dt>
	              <dd>
	              	{{ CopyrightDetails }}{# University of Cambridge #}
				  </dd>
	            </dl>
	          </div>
	          <div id="print-block">
	            <a href="#">print this page</a>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
</div>
</div>

  </div>
  
{% endblock %}