    {% if gallery.decorated %}
    {% for ill in gallery.decorated %}
	<li>
	    {% if ill.image %}
		<img src="{{ ill.image }}" width="60" height="80"/>
		{% else %}
		<img src="{{ assets }}none.png" width="60" height="80"/>
		{% endif %}
		<div class="panel-content">
		  <div class="panel-content-image">
		  	<a  href="{{ ill.url }}" class="panel-insert"></a>
		  	{% if ill.image %}
			<a  class="panel-image" href="{{ ill.image }}" >loading</a>
			{% else %}
			<a  class="panel-image" href="{{ assets }}none.png" >loading</a>
			{% endif %}
		  </div>
		  <div class="panel-overlay">
		    <h3>{{ ill.title }}{# Illuminated title page (verso side) #}</h3>
              <p>
               {% if ill.index %}
               <b>{{ ill.index }}{# Ryl Pers 910 #}</b>
                  {% if  ill.text %}, {% endif %}
               {% endif %}
               {% if ill.text %}
                  {{ ill.text }}
               {% endif %}
              </p>
    		  </div>
		</div>
	</li>
	{% endfor %}
	{% endif %}

	
