    {%if data.gallery.main %}
  	{% for ill in data.gallery.main %}
  	<li>
    	<a class="grid-link" href="{{ ill.url }}">
    	    {% if ill.image %}
    		<img class="grid-image" src="{{ ill.image }}" />
    		{% else %}
    		<img class="grid-image" src="{{ assets }}/none.png"/>
    		{% endif %}
    	</a>
    	<span class="grid-data"><span class="list-pre" >{{ ill.index }}{# 016v #}</span>
    	   {% if ill.title %}
    	      {% if ill.index %}
    	      , 
    	      {% endif %} 
    		  {{ ill.title }}{# Illuminated title page (verso side) #}
    	   {% endif %}
		</span>
	</li>
	{% endfor %}
	{% endif %}
