            <div id="front-thanks">
              <h2>With Thanks To</h2>
              <hr/>
              <img src="{{ assets }}/front-page/ihf.png" src="ihf.png" class="front-thanks-vert"/>
              <div class="front-thanks-vert">
                <img src="{{ assets }}/front-page/ahrc.gif"  width="120" class="front-thanks-horiz"/>
                <img src="{{ assets }}/front-page/uc.jpg" width="120" class="front-thanks-horiz"/>
                <img src="{{ assets }}/front-page/int.png"  width="120" class="front-thanks-horiz"/>
              </div>
            </div>
